
@mixin flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flow {
  flex-flow: row wrap;
}
@mixin respon ($size) {
  @media screen and (max-width:$size) {
    @content ;
  }
}

@mixin ebold ($size,$line){
  font-family:'Montserrat';
  font-weight: bold;
  font-size: $size;
  line-height: $line;
  letter-spacing: 0.2px;
  color: #fff;  
}
@mixin regular ($weyt,$size,$line){
  font-family:'Montserrat';
  font-weight: $weyt;
  font-size: $size;
  line-height:$line;
  letter-spacing: 0.2px;
  color: #fff;
}

