#pricing{
  padding-top: 112px;
  padding-bottom: 112px;
  background: #252B42;
}
.card{
  padding: 50px 40px;
  text-align: center;
  border-radius: 10px;
  max-width: 327px;
  margin: 0 auto;
}
.card__row{
  display: flex;
  justify-content: center;
}
.prise-size{
  @include ebold(40px,57px)
}
.prise{
  color:  #23A6F0;
}
.card__text{
  @include ebold(16px,24px);
  color: #737373;
  max-width: 165px;
}
.card__title{
  @include ebold(24px,32px);
  color: #252B42;
}
.card__btn{
  padding: 15px;
  background-color:  #23A6F0;
}
.card__list{
  text-align: start;
  margin-top: 35px;
}
.card-body{
  padding: 0;
}
.card__item{
  @include regular(600,14px,24px);
  color: #252B42;

  &::before{
    content: "";
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('../../img/check.svg');
  }

  &:not(:last-child){
    margin-bottom: 15px;
  }
}
.before-card{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    top: -83px;
    right: -18px;
    background-image: url('../../img/new.svg');
  }
}